<%namespace name="util" file="util.html"/>
<%include file="header.html"/>
<style>
    tr { height: 1px; }
    td { height:100%; min-width: 75px; }
    label { display:block; height: 100%; }
    input[type="submit"] { position: fixed; top:0.5em; }
    body { margin-top: 2.5em; }
    tr.warn { background-color: yellow; }
    tr.error { background-color: red; }
    .done { display: none; }
</style>

<%block name="subhead"/>

<form action="${url}" method="POST">
    <input type="submit"/>
    <table border="1">
        <%block name="tablecontents"/>
    </table>
</form>
<%include file="footer.html"/>

<%block name="subfoot"/>
