<%namespace name="util" file="util.html"/>
<%inherit file="approvaltable.html"/>

<%block name="tablecontents">
        % for (best, dups, trclass) in duplist:
        <tr class="${trclass}">
            <td>
                ${util.fslink(best['id'], best['name'])}
            </td>
            <td>
                % for v in dups:
                ${util.fslink(v['id'], v['name'])} ${'{:0.2f}m'.format(v.getDist(best)*1000)}<br/>
                % endfor
            </td>
            <td>
                % if is_done:
                ${util.fslink(best['id'], 'Submitted')}
                % else:
                <label>
                    <input type="checkbox" name="dupes" value="${best['id']}:${','.join([v['id'] for v in dups])}">
                </label>
                % endif
            </td>
        </tr>
        % endfor
</%block>
