<%namespace name="util" file="util.html"/>
<%inherit file="approvaltable.html"/>

<%block name="tablecontents">
        % for (v, edit, trclass) in venues:
        <% edit = v.getEdit() %>
        <tr class="${trclass}">
            <td>
                ${util.fslink(v['id'], v['name'])}
            </td>
            <td>
                % for type, after in edit.items():
                <% tag = 'i' if type.find('Category') > -1 else 'b' %>
                ${type} -&gt; <${tag}>${after}</${tag}><br/>
                % endfor
            </td>
            <td>
                % if edit:
                    % if is_done:
                    ${util.fslink(v['id'], 'Submitted')}
                    % else:
                    <label>
                        <input type="checkbox" name="approved" value="${v['id']}">
                    </label>
                    % endif
                % else:
                ${util.fslink(v['id'], 'No edits')}
                % endif
            </td>
        </tr>
        % endfor
</%block>
